<div id="load" class="load">
    <div style="background: rgb(238, 238, 238) none repeat scroll 0% 0%; border: 1px solid rgb(204, 204, 204); padding: 5px 10px; text-align: center;"><span style="font-size:36px;"><img alt="" src="{{ COVER }}" style="width: 120px; height: 120px;" /></span><span style="font-size:36px;"> </span></div>
    <div style="background: rgb(238, 238, 238) none repeat scroll 0% 0%; border: 1px solid rgb(204, 204, 204); padding: 5px 10px; text-align: center;"><span style="font-size:36px;">{{ CURRENTLYPLAYING }}</span></div>
     <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ PROGRESS_BAR }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ PROGRESS_BAR }}%">
        </div>
     </div>
</div>